spring:

  security:
    user:
      name: ${SECURITY_USER}
      password: ${SECURITY_PASSWORD}
  jmx:
    enabled: false
  datasource:
    url: jdbc:postgresql://db:5432/dev_db?currentSchema=dev_schema
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO

cors:
  allowed-origins:
    - "http://localhost:3000"
  allowed-methods:
    - GET
    - POST
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true