spring:
  security:
    user:
      name: ${SECURITY_USER}
      password: ${SECURITY_PASSWORD}
  datasource:
    url: jdbc:postgresql://db:5432/prod_db?currentSchema=prod_schema
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
server:
  port: 80
logging:
  level:
    root: INFO

cors:
  allowed-origins:
    - "http://localhost:3000"
  allowed-methods:
    - GET
    - POST
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true