version: '3.9'
services:
  app:
    build:
      context: ../
      dockerfile: gateway-service/Dockerfile
    environment:
      SECURITY_USER: ${SECURITY_USER}
      SECURITY_PASSWORD: ${SECURITY_PASSWORD}
      DB_URL: jdbc:postgresql://postgres:5432/${DB_NAME}?currentSchema=${DB_SCHEMA}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      KC_URL: ${KC_URL}
      KC_REALM: ${KC_REALM}
      KC_CLIENT_ID: ${KC_CLIENT_ID}
      KC_CLIENT_SECRET: ${KC_CLIENT_SECRET}
      SPRING_PROFILES_ACTIVE: ${PROFILE}
    ports:
      - "8080:8080"
    depends_on:
      - keycloak

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_HTTP_PORT: 8081
      KC_DB_URL: jdbc:postgresql://postgres:5432/${DB_NAME}?currentSchema=${DB_SCHEMA}
      KC_DB_USERNAME: ${DB_USER}
      KC_DB_PASSWORD: ${DB_PASSWORD}
      KC_HOSTNAME: localhost
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8082:8081"
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: keycloak_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
