version: '3.9'
services:
  app:
    build: .
    environment:
      KC_URL: ${KC_URL}
      KC_REALM: ${KC_REALM}
      KC_CLIENT_ID: ${KC_CLIENT_ID}
      KC_CLIENT_SECRET: ${KC_CLIENT_SECRET}
      SPRING_PROFILES_ACTIVE: ${PROFILE}
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      keycloak:
        condition: service_healthy

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_HTTP_PORT: ${KC_HTTP_PORT}
      KC_DB_URL: jdbc:postgresql://postgres:5432/${DB_NAME}?currentSchema=${DB_SCHEMA}
      KC_DB_USERNAME: ${DB_USER}
      KC_DB_PASSWORD: ${DB_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN}
    ports:
      - "8090:8090"
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/${KC_HTTP_PORT} && echo -e 'GET /realms/${KC_REALM}/.well-known/openid-configuration HTTP/1.1\\r\\nHost: localhost\\r\\nConnection: close\\r\\n\\r\\n' >&3 && grep -q '200 OK' <&3" ]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - ./realms:/opt/keycloak/data/import
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: keycloak_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
