apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-realm
  namespace: keycloak
data:
  realm.json: |
    {
      "realm": "employees",
      "enabled": true,
      "users": [],
      "clients": []
    }