apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: {{ .Values.keycloak.namespace }}
spec:
  selector:
    app: keycloak
  ports:
    - port: {{ .Values.keycloak.httpPort }}
      targetPort: {{ .Values.keycloak.httpPort }}
      name: http
  type: ClusterIP